name: Lint

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Install modules
      run: yarn
    - name: Run ESLint
      run: yarn lint
